#header {
  position: relative;
  height: 300px;
  width: none;
  background-color: #02c39a;
  z-index: 1;
  width: 100%;
}

.infoImage {
  width: 50px;
}

.weatherImg{
  width: 150px;
  padding: 30px;
  float: right;
}

.infoWrapper {
  background-color: #dddddd;
}
.info-card {
  height: 100px;
  width: 100%;
  background-color: none;
  border-bottom: 2px solid lightgray;
  font-size:20px;
  text-align: center;
}

.cityName {
  font-size: 25px;
  padding: 20px;
}

.degree {
  font-size: 50px;
    color: white;
    padding: 30px;
}